.report-summary{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

margin-bottom:30px;

}

.report-card{

background:#1b1b1b;

padding:20px;

border-radius:15px;

text-align:center;

border:1px solid #333;

}

.member-report-card{

background:#1b1b1b;

padding:20px;

border-radius:15px;

margin-bottom:20px;

border:1px solid #333;

}

.settlement-report-card{

background:#1b1b1b;

padding:20px;

margin-bottom:15px;

border-radius:15px;

border:1px solid #333;

}