.expense-form{
display:flex;
flex-direction:column;
gap:15px;
margin-bottom:40px;
}

.expense-form input,
.expense-form select,
.expense-form textarea{

padding:14px;

background:#1b1b1b;

color:white;

border:1px solid #333;

border-radius:10px;

font-size:15px;

}

.expense-form textarea{

height:90px;

resize:none;

}

.participants{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:10px;

background:#1b1b1b;

padding:15px;

border-radius:10px;

}

.participants label{

display:flex;

align-items:center;

gap:8px;

}

.expense-form button{

padding:14px;

background:#00d4ff;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

cursor:pointer;

}

.expense-card{

display:flex;

justify-content:space-between;

align-items:center;

background:#1b1b1b;

padding:20px;

border-radius:14px;

margin-bottom:15px;

border:1px solid #2c2c2c;

transition:.3s;

}

.expense-card:hover{

border-color:#00d4ff;

transform:translateY(-3px);

}