.analytics-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:20px;

}

.analytics-card{

    background:#1b1b1b;

    border-radius:15px;

    border:1px solid #333;

    padding:20px;

}

.analytics-card h3{

    margin-bottom:20px;

}

.receive{

    color:#00d26a;

    font-weight:bold;

}

.pay{

    color:#ff4d4d;

    font-weight:bold;

}

.settled{

    color:#00bfff;

    font-weight:bold;

}